html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-image:url('background.png');
	font-family: 'Roboto', sans-serif;
	color: white;
}
a{
	color:#FFFFFF;
	text-decoration: none;
} /* unvisited link */
a:visited {
	color:#FFFFFF;
	text-decoration: none;
} /* visited link */
a:hover, a:active{
	color:#FFFFFF;
	text-decoration: none;
} /* mouse over link, selected link */

/*classes*/
.menuBar{
	width: auto;
	background-color: #101010;
}
.socialButton{

}

/*IDs*/

/*top menu bar*/
#topMenuBarBackground{
	height: 75px;
	border-bottom-color: #434343;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#topBar{
	height: 75px;
	margin: 0 auto;
	display: table;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	padding-left: 30px;
	padding-right: 30px;
}
#navigationContainer{
	display: table-cell;
	vertical-align: middle;
}
#navigationContainer ul{
	text-align: center;
	display: block;
}
#navigationContainer li{
	height: 75px;
	list-style: none;
	display: inline;
}
#navigationContainer a{
	margin: 0;
	padding-top: 21px;
	padding-right:20px;
	padding-bottom: 22px;
	padding-left:20px;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #DBDBDB;
}
#navigationContainer a:hover, a:active{
	background-color: #434343;
}

/*site container*/
#siteContainer{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	padding: 30px;
	overflow: hidden;
}

/*name tag*/
#nameTag{
	float: left;
}
#nameTag li{
	list-style: none;
}
#nameTag li h1{
	font-family: 'Roboto', sans-serif;
	font-size: 3.5em;
}
#nameTag li h1 span.firstName{
	color: #1793b8;
}
#nameTag li h1 span.lastName{
	color: #81c341;
}
#nameTag li h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	line-height: 50%
	color: #DBDBDB;
}

/*avatar and social connector*/
#avatarSocialContainer{
	float: left;
	padding-left: 300px;
}
/*avatar*/
#avatar{
	border: none;
	float: left;
}
#avatar img{
	width: 300px;
}

/*social connector*/
#socialContainer{
	float: left;
	padding-top: 125px;
	padding-left: 10px;
}
#socialContainer li{
	list-style: none;
}

/*content container*/
#contentContainer{
	position: absolute; /*YUCK!*/
	clear:both;
	padding-top: 120px;
	width: 500px;
}

/*bottom menu bar*/
#bottomMenuBarBackground{
	height: 75px;
	clear: both;
	border-top-color: #434343;
	border-top-width: 1px;
	border-top-style: solid;
	width: 100%;
	position: fixed;
    bottom: 0;
}
#bottomBar{
	height: 75px;
	font-family: 'Roboto', sans-serif;
	display: table;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	padding-left: 30px;
	padding-right: 30px;
	overflow: hidden;
}
#copyrightContainer{
	display: table-cell;
	vertical-align: middle;	
}
#copyrightContainer p{
	color: #DBDBDB;
}
